{% extends 'accounts/base.html' %}

{% block heading %}
welcome to Django tickets
{% endblock heading %}

{% block content %}

<form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="email" name="username" class="form-control" id="floatingInput">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control" id="floatingPassword">
        <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">sign in</button>
    <hr class="my-4">

    <small class="text-muted">dont have an account? <a href="{% url 'register_customer' %}">sign up</a></small>
</form>

{% endblock content %}